In [3]:
from jamu import jamu

In [4]:
test = jamu()

In [7]:
df=test.mergeJamu

In [22]:
rf=df[df['항목코드'].str.contains(r'^(ifrs|dart)')].copy()

In [21]:
len(rf)

55317

In [26]:
rf.drop_duplicates('항목명')
ef = rf.drop_duplicates('항목명')[['항목코드','항목명']].copy()

In [27]:
ef

,항목코드,항목명
0,dart_OperatingIncomeLoss,영업이익(손실)
1,dart_OtherComprehensiveIncomeThatWillBeReclass...,후속적으로당기손익으로재분류될수있는항목
2,dart_OtherGains,기타영업외이익
3,dart_OtherLosses,기타영업외비용
4,dart_TotalSellingGeneralAdministrativeExpenses,판매비와관리비
...,...,...
60784,ifrs-full_DilutedEarningsLossPerShare,계속기업희석주당이익(손실)
60856,ifrs-full_FinanceIncome,금융수익-이자수익
60957,ifrs-full_OtherComprehensiveIncomeNetOfTaxGain...,기타포괄손익-공정가치측정금융자산처분이익
61055,dart_OtherComprehensiveIncomeThatWillBeReclass...,(1)후속적으로당기손익으로재분류되는항목
61056,dart_OtherComprehensiveIncomeThatWillNotBeRecl...,(2)후속적으로당기손익으로재분류되지않는항목

In [30]:
cf=df[df['항목코드'].str.contains(r'^(entity)')]

In [49]:
cf

,회사명,시장구분,업종,업종명,결산월,결산기준일,보고서종류,통화,항목코드,항목명,당기 1분기 3개월_0,당기 1분기 3개월_1,당기 1분기 3개월_0,당기 1분기 3개월_1
5,3S,코스닥시장상장법인,292,특수 목적용 기계 제조업,3,2020-06-30,1분기보고서,KRW,entity00378363,관계기업투자이익,NaN,NaN,NaN,0
6,3S,코스닥시장상장법인,292,특수 목적용 기계 제조업,3,2020-06-30,1분기보고서,KRW,entity00378363,관리비,NaN,NaN,"512,891,116","-645,411,094"
7,3S,코스닥시장상장법인,292,특수 목적용 기계 제조업,3,2020-06-30,1분기보고서,KRW,entity00378363,당기손익으로재분류될수있는항목의법인세,NaN,NaN,0,"4,080,454"
8,3S,코스닥시장상장법인,292,특수 목적용 기계 제조업,3,2020-06-30,1분기보고서,KRW,entity00378363,판매비,NaN,NaN,"146,452,111","-155,005,674"
32,AJ네트웍스,유가증권시장상장법인,763,산업용 기계 및 장비 임대업,12,2020-03-31,1분기보고서,KRW,entity00365387,(부의)지분법자본변동,NaN,NaN,"-134,644,328",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61370,힘스,코스닥시장상장법인,292,특수 목적용 기계 제조업,12,2020-03-31,1분기보고서,KRW,entity00556712,기타영업외수익,NaN,NaN,"17,239,020",NaN
61371,힘스,코스닥시장상장법인,292,특수 목적용 기계 제조업,12,2020-03-31,1분기보고서,KRW,entity00556712,매출액,NaN,NaN,"31,714,959,185",NaN
61372,힘스,코스닥시장상장법인,292,특수 목적용 기계 제조업,12,2020-03-31,1분기보고서,KRW,entity00556712,매출원가,NaN,NaN,"13,742,414,450",NaN
61373,힘스,코스닥시장상장법인,292,특수 목적용 기계 제조업,12,2020-03-31,1분기보고서,KRW,entity00556712,매출총이익,NaN,NaN,"17,972,544,735",NaN
61374,힘스,코스닥시장상장법인,292,특수 목적용 기계 제조업,12,2020-03-31,1분기보고서,KRW,entity00556712,판매비와관리비,NaN,NaN,"6,875,448,167",NaN

NameError: name '명' is not defined

In [36]:
df[df['항목코드']=='ifrs-full_ProfitLossAttributableToOwnersOfParent']

,회사명,시장구분,업종,업종명,결산월,결산기준일,보고서종류,통화,항목코드,항목명,당기 1분기 3개월_0,당기 1분기 3개월_1,당기 1분기 3개월_0,당기 1분기 3개월_1
23,3S,코스닥시장상장법인,292,특수 목적용 기계 제조업,3,2020-06-30,1분기보고서,KRW,ifrs-full_ProfitLoss,분기순이익,NaN,NaN,"-514,741,377","-467,299,923"
55,AJ네트웍스,유가증권시장상장법인,763,산업용 기계 및 장비 임대업,12,2020-03-31,1분기보고서,KRW,ifrs-full_ProfitLoss,당기순이익(손실),NaN,NaN,"-113,230,171","2,015,671,973"
91,AK홀딩스,유가증권시장상장법인,649,기타 금융업,12,2020-03-31,1분기보고서,KRW,ifrs-full_ProfitLoss,당기순이익(손실),NaN,NaN,"16,718,068,276","-84,173,432,426"
125,APS홀딩스,코스닥시장상장법인,649,기타 금융업,12,2020-03-31,1분기보고서,KRW,ifrs-full_ProfitLoss,당기순이익(손실),NaN,NaN,"-1,487,461,711","-599,659,468"
156,AP시스템,코스닥시장상장법인,292,특수 목적용 기계 제조업,12,2020-03-31,1분기보고서,KRW,ifrs-full_ProfitLoss,당기순이익(손실),NaN,NaN,"7,920,112,710","8,211,291,126"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61263,흥국,코스닥시장상장법인,292,특수 목적용 기계 제조업,12,2020-03-31,1분기보고서,KRW,ifrs-full_ProfitLoss,당기순이익(손실),NaN,NaN,"2,556,346,075","2,904,413,609"
61292,흥국에프엔비,코스닥시장상장법인,112,비알코올음료 및 얼음 제조업,12,2020-03-31,1분기보고서,KRW,ifrs-full_ProfitLoss,당기순이익(손실),NaN,NaN,"347,405,877","-386,426,322"
61331,흥아해운,유가증권시장상장법인,501,해상 운송업,12,2020-03-31,1분기보고서,KRW,ifrs-full_ProfitLoss,당기순이익(손실),NaN,NaN,"4,194,012,390","-2,452,718,384"
61360,희림,코스닥시장상장법인,721,"건축기술, 엔지니어링 및 관련 기술 서비스업",12,2020-03-31,1분기보고서,KRW,ifrs-full_ProfitLoss,당기순이익(손실),NaN,NaN,"341,453,948","97,668,321"
61383,힘스,코스닥시장상장법인,292,특수 목적용 기계 제조업,12,2020-03-31,1분기보고서,KRW,ifrs-full_ProfitLoss,당기순이익(손실),NaN,NaN,"8,840,394,543",NaN

In [52]:
wf=df[df['항목코드'].str.contains(r'^entity')].set_index('항목명')

In [59]:
wf.update(rf)

In [57]:
rf=ef.set_index('항목명')

In [61]:
wf.to_csv("ㅈㄹㅈㄹㅈ.csv", encoding='cp949')

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

In [4]:
df['a'] =1

In [8]:
df2 = pd.DataFrame({'A': 1.,
                     'B': 2})

ValueError: If using all scalar values, you must pass an index

In [15]:
df=pd.DataFrame({'a' : [1,2,3]}, index=['q','w','e'])
ef=pd.DataFrame({'a' : [float('NaN'),float('NaN'),3]}, index=['q','w','e'])

In [22]:
tf=ef.copy()
yt= tf

In [19]:
yt.update(df)

In [54]:
yt.loc[[True,False,False],:]=20
yt

      a
q  20.0
w   2.0
e   3.0

In [50]:
yt.update(df)

In [51]:
yt

     a
q  1.0
w  2.0
e  3.0

In [3]:
from jamu import jamu

In [4]:
test = jamu()

PermissionError: [Errno 13] Permission denied: 'merge.csv'

In [9]:
import pandas as pd

In [14]:
df = pd.read_excel('재무.xlsx',sheet_name = None)

In [21]:
cf= pd.concat([df[f'']

0      [D310000] 손익계산서, 기능별 분류 - 연결재무제표
1                      손익계산서 [abstract]
2                               수익(매출액)
3                    재화의 판매로 인한 수익(매출액)
4                                 제품매출액
                     ...
357                      계속영업기본주당이익(손실)
358                      중단영업기본주당이익(손실)
359                          희석주당이익(손실)
360                      계속영업희석주당이익(손실)
361                      중단영업희석주당이익(손실)
Name: 한글 Label, Length: 362, dtype: object

In [31]:
count = [ f'IS{i}'for i in range(1,5)] + [ f'CIS{i}'for i in range(1,5)] + [ f'DCIS{i}'for i in range(1,9)]

In [32]:
cf = pd.concat([df[str(i)] for i in count])

In [35]:
cf.to_csv("재무제표.csv", encoding='cp949')

In [41]:
rf= cf.drop(['영문 Label', 'IFRS Reference', 'Element Name', 'Data Type'], axis=1)

In [44]:
qt=rf.drop_duplicates('Element ID')

In [46]:
qt.to_csv("수정.csv", encoding='cp949')

In [47]:
qt.columns = ['계정과목', '과목코드']

In [51]:
qt.set_index('과목코드', inplace=True)

In [52]:
qt

                                                                                계정과목
과목코드
NaN                                                 [D310000] 손익계산서, 기능별 분류 - 연결재무제표
ifrs-full_IncomeStatementAbstract                                   손익계산서 [abstract]
ifrs-full_Revenue                                                            수익(매출액)
ifrs-full_RevenueFromSaleOfGoods                                  재화의 판매로 인한 수익(매출액)
dart_RevenueFromSaleOfGoodsProduct                                             제품매출액
...                                                                              ...
ifrs-full_GainsLossesOnChangeInValueOfForwardEl...      선도계약의 선도요소 가치 변동손익(세전기타포괄손익)
ifrs-full_ReclassificationAdjustmentsOnChangeIn...       선도계약의 선도요소 가치 변동손익의 세전재분류조정
ifrs-full_GainsLossesOnChangeInValueOfForeignCu...        외화베이시스스프레드 변동 손익(세전기타포괄손익)
ifrs-full_ReclassificationAdjustmentsOnChangeIn...         외화베이시스스프레드 변동 손익의 세전재분류조정
dart_IncomeTaxRelatingToComponentsOfOtherCompre...       당기손익으로 재분류될수 있는 항목과 관련된 법인세

[432 rows x 1 columns]

In [145]:
qt.to_excel('ifrs계정과목.xlsx',encoding='cp949')

In [56]:
import os

In [143]:
qt

                                                                                계정과목
과목코드
NaN                                                 [D310000] 손익계산서, 기능별 분류 - 연결재무제표
ifrs-full_IncomeStatementAbstract                                   손익계산서 [abstract]
ifrs-full_Revenue                                                            수익(매출액)
ifrs-full_RevenueFromSaleOfGoods                                  재화의 판매로 인한 수익(매출액)
dart_RevenueFromSaleOfGoodsProduct                                             제품매출액
...                                                                              ...
ifrs-full_GainsLossesOnChangeInValueOfForwardEl...      선도계약의 선도요소 가치 변동손익(세전기타포괄손익)
ifrs-full_ReclassificationAdjustmentsOnChangeIn...       선도계약의 선도요소 가치 변동손익의 세전재분류조정
ifrs-full_GainsLossesOnChangeInValueOfForeignCu...        외화베이시스스프레드 변동 손익(세전기타포괄손익)
ifrs-full_ReclassificationAdjustmentsOnChangeIn...         외화베이시스스프레드 변동 손익의 세전재분류조정
dart_IncomeTaxRelatingToComponentsOfOtherCompre...       당기손익으로 재분류될수 있는 항목과 관련된 법인세

[432 rows x 1 columns]

In [63]:
df = [pd.read_csv(f'ab/{i}', sep='\t', encoding='cp949') for i in file_list]

In [64]:
rf = pd.concat(df)

rf

In [68]:
ef = rf[['항목코드', '항목명']]

In [71]:
of = ef.drop_duplicates('항목명')

In [77]:
pf=pd.read_excel('계정과목.xlsx')

In [86]:
qf = pd.concat([of,pf])

KeyError: ('과목코드', '계정과목')

In [84]:
of.columns=['과목코드', '계정과목']

In [94]:
qf.drop_duplicates('계정과목', inplace=True)

In [98]:
qf['계정과목'] = qf['계정과목'].str.replace(' ', '')

In [102]:
ef = qf[~qf['과목코드'].str.contains(r'^e')]

In [104]:
ef.to_excel('계정과목.xlsx', index=False)

In [111]:
ef.sort_values('과목코드').to_excel('계정과목.xlsx', index=False)

In [129]:
modify =pd.read_excel('계정과목.xlsx')

In [131]:
ef = modify.drop_duplicates('항목명')

In [133]:
ef.to_excel('계정과목.xlsx', index=False)

In [127]:
df.update(modify)

In [128]:
df

   a
1  1

In [137]:
modify['항목코드']=modify['항목코드'].str.replace('ifrs_', 'ifrs-full_')

In [138]:
modify.to_excel('계정과목2.xlsx', index=False)

In [139]:
modify

                                                   항목코드            항목명
0                    dart_AcademicInvestigationExpenses          도서신문비
1                    dart_AcademicInvestigationExpenses            학술비
2     dart_AdministrativeExpensesForUnsoldHouseAndOf...       미분양주택관리비
3     dart_AdministrativeExpensesForUnsoldHouseAndOf...       미분양주택관리비
4                        dart_AdvertisementAgentExpense          광고대행료
...                                                 ...            ...
5602  ifrs-full_ShareOfProfitLossOfAssociatesAndJoin...       관계회사투자손실
5603  ifrs-full_ShareOfProfitLossOfAssociatesAndJoin...  공동기업지분법이익(손실)
5604            ifrs-full_SharebasedPaymentTransactions     주식보상비용(환입)
5605                         ifrs-full_WagesAndSalaries             급여
5606                         ifrs-full_WagesAndSalaries             임금

[5607 rows x 2 columns]

In [141]:
modify.drop_duplicates('항목명').to_excel('계정과목3.xlsx', index=False)

In [147]:
ifrsmodify =pd.read_excel('ifrs계정과목.xlsx')
ifrsmodify.set_index('항목코드', inplace=True)

In [148]:
ifrsmodify

                                                                             항목명
항목코드
ifrs-full_IncomeStatementAbstract                               손익계산서 [abstract]
ifrs-full_Revenue                                                        수익(매출액)
ifrs-full_RevenueFromSaleOfGoods                              재화의 판매로 인한 수익(매출액)
dart_RevenueFromSaleOfGoodsProduct                                         제품매출액
dart_RevenueFromSaleOfGoodsMerchandise                                     상품매출액
...                                                                          ...
ifrs-full_GainsLossesOnChangeInValueOfForwardEl...  선도계약의 선도요소 가치 변동손익(세전기타포괄손익)
ifrs-full_ReclassificationAdjustmentsOnChangeIn...   선도계약의 선도요소 가치 변동손익의 세전재분류조정
ifrs-full_GainsLossesOnChangeInValueOfForeignCu...    외화베이시스스프레드 변동 손익(세전기타포괄손익)
ifrs-full_ReclassificationAdjustmentsOnChangeIn...     외화베이시스스프레드 변동 손익의 세전재분류조정
dart_IncomeTaxRelatingToComponentsOfOtherCompre...   당기손익으로 재분류될수 있는 항목과 관련된 법인세

[431 rows x 1 columns]